/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* html {
    Thuộc tính scroll-behavior giúp điều chỉnh trạng thái khi scroll
    scroll-behavior: smooth;
} */

.backToTop {
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: rgba(0,0,0,0.25);
    border-radius: 4px;
    color: white;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    right: 20px;
    bottom: 20px;
    opacity: 0;
    visibility: hidden;
}

.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
}

.cd-top--fade-out { 
    opacity: .5;
}

/* Header */
header {
    /* color: white; */
    padding: 26px 0;
    /* position: fixed; */
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* Gọi tới tất cả thẻ a bên trong thẻ header */
header a {
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}

header .header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
}

header ul li {
    /* Không điều chỉnh chiều cao và chiều dài khi sử dụng display: inline */
    /* Không điều chỉnh được về margin top và bottom */
    /* display: inline-block ra mắt và giải quyết được các vấn đề của inline */
    display: inline-block;
    padding: 0 26px;
    /* text-transform: chuyển chữ thường thành chữ hoa,... */
    /* text-transform: uppercase; */
}

header .header_logo {
    font-size: 32px;
    font-weight: bold;
}

/* header ul li:first-child a {
    color: red;
}

header ul li:last-child a {
    color: blue;
}

header ul li:nth-child(5) a {
    color: green;
} */

.header_content li a {
    font-size: 17px;
}

header ul li.active a {
    color: #e62b4a;
}   

header ul li:hover a {
    color: red;
}

/* Banner */
.banner {
    background-image: url(../img/home_slider.jpg);
    /* Điều chỉnh kích thước nền */
    background-size: cover;
    /* Điều chỉnh vị trí hiển thị của hình nền */
    background-position: center;
    /* Điều chỉnh số lần lặp lại của hình nền */
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.banner_text .sub_title {
    font-size: 25px;
}

.banner_text h1 {
    font-size: 75px;
    /* Điều chỉnh chiều cao nội dung trong thẻ html */
    /* font-size + 8px */
    line-height: 90px;
}

.banner_text button {
    /* border-width: 3px;
    border-style: double;
    border-color: red; */
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    padding: 15px 25px;
    background-color: #e62b4a;
    color: white;
    border: 1px solid #e62b4a;
    cursor: pointer;
    transition: all 0.5s;
    }

.banner_text button:hover {
    background-color: #af2239;
}

.banner_text i {
    margin-top: 50px;
    font-size: 30px;
    /* animation-name: arrowGoDown;
    animation-duration: 1s;
    animation-iteration-count: infinite; */
    animation: arrowGoDown 1s linear 0s infinite;
}

/* .demo_postition {
    background-color: black;
    height: 800px;
    position: relative;
} */

/* .position {
    width: 200px;
    height: 200px;
    background-color: green;
    position: absolute;
    left: 30px;
    top: 30px;
    Độ trong suốt của một phần tử html  */
    /* opacity: 0.5; */
    /* bottom: 50px; */
    /* top */
    /* right */
    /* bottom */
    /* left
} */

/* Service */
.service {
    padding: 90px 0;
    background-color: black;
    color: white;
    letter-spacing: 1px;
}

.service .service_title {
    text-align: center;
}

.service .service_title .sub_title {
    font-size: 14px;
    color: #e62b4a;
    font-weight: 300;
}

.service .service_title h2 {
    font-size: 50px;
    font-weight: 400;
}

.service .service_title p:last-of-type {
    font-size: 16px;
    color: #888888;
    font-weight: 700;
    margin-top: 20px;
}

.service .service_item .service_item_bg {
    background-color: white;
    color: #848482;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.service .service_item_bg::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e62b4a;
    width: 4px;
    height: 0;
    /* opacity: 0; */
    /* cursor: pointer; */
    /* visibility: hidden; */
    /* display: none; */
    transition: all 0.5s;
}

.service .service_item_bg:hover::before {
    height: 100%;
}

.service .slick-dots li button:before {
    font-size: 14px;
    color: white;
}

.service .slick-dots li.slick-active button:before {
    color: #e62b4a;
}

.service .service_item i {
    font-size: 50px;
    color: #888888;
}

.service .service_item {
    padding: 0 10px;
    margin-bottom: 10px;
    height: 230px;
}

.service .service_content {
    margin-top: 30px;
}

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

/* .demo_before_after p {
    height: 500px;
    background-color: black;
    position: relative;
    
}
.demo_before_after p::before {
    content: 'Hôm nay';
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: #e62b4a;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    transform: translateX(-300px);
    transform: translateY(-200px);
    transform: translate(-300px, -200px);
    transform: scale(0.5s);
    transform: rotate(180deg);
} */

/* .demo_before_after p::after {
    content: 'đi học';
    display: inline-block;
    margin-left: 30px;
} */

/* Blog */
.blog {
    padding: 100px 0;
    background-color: #F3F3F3;
}

.blog .blog_title {
    text-align: center;
}

.blog .blog_title p:first-of-type {
    font-size: 14px;
    color: #888888;
    font-weight: 400;
}

.blog .blog_title h2 {
    font-size: 50px;
    font-weight: 400;
}

.blog .blog_title p:last-of-type {
    font-size: 16px;
    color: #888888;
    font-weight: 700;
    margin-top: 20px;
}

.blog .blog_content {
    /* Grid là thuộc tính giúp tạo cấu trúc dạng lưới */
    display: grid;
    /* Hỗ trợ thực hiện tạo số cột tương ứng khi sự dụng grid */
    grid-template-columns: repeat(4, 1fr);
    /* Tạo khoảng cachs giữa các cột và các dòng */
    gap: 30px;
    margin-top: 50px;
}

.blog .blog_content img {
    width: 100%;
    height: 100%;
    /* object-fit giúp thay đổi kích thước của hình ảnh */
    object-fit: cover;
    /* filter: giúp chỉnh sửa hình ảnh trên web */
    filter: grayscale(50%) contrast(50%);
}

.blog .blog_content .blog_item:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.blog .blog_content .blog_item:last-child {
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
}

.blog .blog_item {
    position: relative;
}

.blog .blog_overlay {
    position: absolute;
    top: 0;
    left: 0;
    /* bottom: 0;
    right: 0; */
    width: 100%;
    height: 100%;
    background-color: rgba(230, 43, 74, 0.6);
    padding: 25px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transition: all .5s;
    overflow: hidden;
}

.blog_item:hover .blog_overlay {
    opacity: 1;
}

.blog .blog_overlay .blog_overlay_icon {
    text-align: right;
}

.blog_overlay_icon a {
    background-color: white;
    color: black;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    transform: translateY(20px);
    transition: all .8s;
}

.blog_overlay_icon a:hover {
    background-color: black;
    color: white;
}

.blog_item:hover .blog_overlay_icon i {
    transform: translateY(0);
}

.blog_overlay_text {
    color: white;
    transform: translateY(20px);
    transition: all .8s;
}

.blog_item:hover .blog_overlay_text {
    transform: translateY(0);
}

.blog_overlay_text p {
    color: #D0C7C8;
}

/* Number */
.number {
    background-color: black;
    color: white;
    padding: 100px 0;
}

.number_content {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.number_content h3 {
    font-size: 60px;
    font-weight: 300;
}

.number_content p {
    font-size: 20px;
    color: #888888;
}

/* Digital */
.digital {
    background-image: url(../img/bussiness_img_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: cố định hình nền vào khung nhìn của người dùng */
    background-attachment: fixed;
    padding: 100px 0;
}

.digital .digital_title {
    text-align: center;
}

.digital .digital_title p:first-of-type {
    font-size: 14px;
    color: #e62b4a;
    font-weight: 300;
}

.digital .digital_title h2 {
    font-size: 50px;
    font-weight: 400;
    color: white;
}

.digital .digital_title p:last-of-type {
    font-size: 16px;
    color: #888888;
    font-weight: 700;
    margin-top: 20px;
}

.digital_content {
    margin-top: 30px; 
}

.digital_content video {
    width: 100%;
}

/* Contact */
.contact {
    padding: 100px 0;
}

.contact .contact_title {
    text-align: center;
}

.contact .contact_title h2 {
    font-size: 50px;
    font-weight: 400;
}

.contact .contact_title p {
    font-size: 16px;
    color: #888888;
    font-weight: 400;
    margin-top: 20px;
}

.contact_content {
    display: flex;
    /* margin: 30px auto 0; */
    margin-top: 30px;
}

.contact_content_map {
    width: 60%;
}

.contact_content_map iframe {
    width: 100%;
}

.contact_content_form {
    width: 40%;
}

.contact_content_form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0 15px;
}

.contact_content_form input, .contact_content_form textarea {
    font-size: 15px;
    padding: 15px;
    border: 1px solid #888888;
    border-radius: 2px;
    margin-bottom: 30px;
}

.contact_content_form input, .contact_content_form button {
    font-family: Arial, Helvetica, sans-serif;
}

.contact_content_form textarea {
    flex-grow: 1;
    font-family: monospace;
}

.contact_content_form button {
    padding: 20px 30px;
    border: 1px solid black;
    background-color: black;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s;
}

.contact_content_form button:hover {
    background-color: #e62b4a;
}

/* Footer */
footer {
    background-color: #000;
}
.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.footer_content p {
    font-size: 14px;
    color: white;
}

.footer_content a {
    width: 54px;
    height: 54px;
    display: inline-block;
    border-radius: 50%;
    line-height: 54px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    margin-left: 5px;
    text-decoration: none;
    color: #ffffff;
    transition: all .5s;
}

.footer_content a:hover {
    background-color: #e62b4a;
}


@keyframes arrowGoDown {
    from {
        /* Setup các giá trị thuộc tính ban đầu của hiệu ứng */
        transform: translateY(0);
        opacity: 1;
    }
    to {
        /* Các thuộc tính sau khi kết thúc hiệu ứng */
        transform: translateY(50px);
        opacity: 0;
    }
}